# Dependencies
node_modules
.pnpm-store

# Build
dist
.turbo
.next
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Wrangler
.wrangler
.dev.vars

# Test
coverage
.nyc_output
